.portfolio {
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #362023;
	font-size: 2vw;
	color: #FFFFFF;
}

img {
	width: "100px";
	height: "50px";
}
