.Typist .Cursor {
  display: inline-block; }


.Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.text {
  font-size: 3.5vw;
  color: #FFFFFF;
  font-family: 'Quantico', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  transform: translate(-50%, -50%);
}

.intro {
  background: url(../img/intro_bg2.jpg) no-repeat fixed center;
  position: relative;
  min-height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 700px) {
  .text {
    font-size: 5.5vw;
  }
}