.story_box {
	border-top: solid;
	border-color: #000000;
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 5%;
	padding-bottom: 5%;
	background: linear-gradient(to bottom, #8C6529 0%, #5A3300 100%);
	font-size: 1.5vw;
	color: #FFFFFF;
}

.story {
	background-color: rgb(0, 0, 0, 0.1);
	border-radius: 50px;
	padding: 20px;
	border-left: 1px solid black;
	border-right: 1px solid grey;
}

h1 {
	padding: 5%;
}

#profile_pic {
	width: 15vw;
	border-style: solid;
	padding: 2px;
	margin: 2px;
	float: right;
}

