

#navigation {
    background-size:contain;
    background-position:center;
    background-color: #000000;
    background-repeat: no-repeat;
    clear: both;
}

#slider {
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    transition: width 2s ease;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    width: 0px;
}

#sliderOut {
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    transition: width 2s ease;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    width: 310px;
}

.links {
    text-align: center;
    color: #F1F2F3;
}

/*a {
    font-size: 15vw;
    padding: 5px;
    margin: 5px;
    color: #F1F2F3;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}*/

#myStory {
    border-left-style: solid;
    padding-left: 10px;
}

#contact {
    border-right-style: solid;
    padding-right: 10px;
}

.front {
    visibility: visible;
    opacity: 1;
    transition:visibility 2s linear,opacity 2s linear;
}

.back {
   opacity: 0;
}
