.portfolio {
	border-color: #000000;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 3%;
	padding-bottom: 5%;
	background: linear-gradient(to bottom, #5A3300 0%, #461F00 100%);
	font-size: 2vw;
	color: #FFFFFF;
}

.technologies {
	color: #AFBBF4;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 3vw;
	text-align: center;
	padding: 5px;
	background-color: rgb(0, 0, 0, 0.1);
	border-radius: 50px;
}

a.source {
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 2.5vw;
}

a.source:hover {
	opacity: 0.6;
}

.portfolio-description {
	padding: 10px;
	border-radius: 20px;
	background-color: rgb(0, 0, 0, 0.1);
	font-size: 1.2vw;
	width: 65%;
	display: inline-block;
	border-left: 1px solid black;
	border-right: 1px solid grey;
	top: 0;
	position: relative;
	vertical-align:top;
}


img.single-image {
	width: 30%;
	padding: 8px;
	border-radius: 40px;
	border: 2px grey solid;
	margin-bottom: 5px;
	transition: 500ms all;
}

img.single-image:hover {
	transform: scale(1.1);
	transition: 500ms all;
}

.image-gallery {
	background-color: rgb(0, 0, 0, 0.1);
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 20px;
}

@media only screen and (max-width: 700px) {
	.portfolio_header {
	max-height: 40vw;
	}

	p.technologies {
		font-size: 8vw;
	}

	p.portfolio-description {
		font-size: 3vw;
	}

	img.single-image {
	width: 30%;
	padding: 1px;
	border-radius: 20px;
	border: 2px grey solid;
	margin-bottom: 5px;
	transition: 500ms all;
	}

	a.source {
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 7vw;
	}
}

