.portfolio {
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 5%;
	padding-bottom: 5%;
	background: linear-gradient(to bottom, #5A3300 0%, #461F00 100%);
	font-size: 2vw;
	color: #FFFFFF;
}

img {
	width: "100px";
	height: "50px";
}
