.App {
  padding: 0px;
  margin: 0px;
  background-color: #000000;
  min-height: 1024px;
  background-size:contain;
  background-position:center;
  width: 100%;
  text-align: left;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 1vw;
  font: #FFFFFF;
  -webkit-font-smoothing: auto;
  font-smooth: auto;
  font-family: 'Righteous', cursive;
}

.mymessage {
  text-align: center;
  margin-top: 50%;
  color: #000000;
  font-family: 'Permanent Marker', cursive;
  font-size: 9vw;
}

#navigation {
    background-size:contain;
    background-position:center;
    background-color: #000000;
    background-repeat: no-repeat;
    clear: both;
}

#slider {
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    transition: width 2s ease;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    width: 0px;
}

#sliderOut {
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    transition: width 2s ease;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    width: 280px;
}

.links {
    text-align: center;
    color: #F1F2F3;
}

a {
    padding: 3px;
    margin: 3px;
    color: #F1F2F3;
    cursor: pointer;
    font-size: 1vw;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

#myStory {
    border-left-style: solid;
    padding-left: 10px;
}

#contact {
    border-right-style: solid;
    padding-right: 10px;
}

.front {
    visibility: visible;
    opacity: 1;
    transition:visibility 2s linear,opacity 2s linear;
}

.back {
   visibility: hidden;
   opacity: 0;
}

h1 {
  text-align: center;
  position: center;
  font-size: 3vw;
}


#scroll-button {
  font-size: 1vw;
}

element.style {
    height: 150px;
}


.rotate_msg {
  background-color: #000000;
}

  .rotateImg {
    height: 40%;
    width: 40%;
  }

  .cancelled {
    display: hidden;
  }

@media only screen and (max-width: 700px) {
  .btn-responsive {
        padding:2px 4px;
        line-height: 1;
        font-size: 3vw;
  }

  #sliderOut {
    width: 235px;
  }

  

  h1 {
      text-align: center;
  position: center;
  font-size: 5vw;
  }

  #scroll-button {
    font-size: 3vw;
  }

  h6 {
    font-size: 2vw;
  }

  a {
    padding: 3px;
    margin: 3px;
    color: #F1F2F3;
    cursor: pointer;
    font-size: 2.5vw;
  }

}


